<!--
 * @Author: your name
 * @Date: 2020-07-22 16:47:01
 * @LastEditTime: 2020-07-22 17:13:31
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \photo\views\error.ejs
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出错了!!</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <h1>出错了</h1>
    <h3>错误信息: <%= errMsg%></h3>
    <img src="/imgs/404(2).jpg" alt="">
</body>
</html>